function busca_dose4()

%selecionar a pasta com os exames DICOM

pasta = cd(uigetdir);

if pasta == 0
  return;
end

nomepast = pwd;



%colocar os arquivos com a exteção .dcm em uma variável 

dcm = rdir('**\*.dcm');

for i=1:numel(dcm)
    
    info = dicominfo(dcm(i).name);
    nome = info.PatientName;
   
end

%criar um arquivo excel com o nome da pasta escolhida

  xlswrite(nomepast,nome(i));


end
